.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
scripts/

venv/
env/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.env.secret
.idea
.vscode

attic/
scratch/

.env

*.db
.VSCodeCounter

todo.md
data/
logs/
docs/

target/
